#footer {
    width: 100%;
    /* height: 370px; */
    background-image: url("/media/footer-background.png");
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}
#footer-left{
    /* width: 50%; */
    padding: 70px;
}
#footer-left > img {
    mix-blend-mode:multiply;
    width: 200px;
    /* opacity: 0.5; */
    margin-bottom: 20px;
}
#footer-left > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* border: 1px solid orange; */
}
#footer-left > div > img {
    width: 30px;
}
#footer-right {
    padding: 70px;
}

@media (max-width: 768px) {
    #footer {
        grid-template-columns: repeat(1, 1fr);
    }
}