* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#free {
    display: none;
}
#basic {
    display: none;
}

#growth {
    display: none;
}

#pro {
    display: none;
}

.plan {
    width: 50%;
    border-radius: 20px;
    background-color:whitesmoke;
    padding: 30px;
}
.plan-tag {
    width: 50px;
    height: 25px;
    background-color:azure;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}
#growth > div:first-child {
    width: 80px;
}
.plan-price {
    text-align: center;
    /* border: 1px solid red; */
}
.plan-price > h1 {
    font-size: 70px;
    font-weight: 100;
}
.plan-details {
    text-align: center;
}
.plan-details > h3 {
    margin-top: 20px;
}
.plan-details > h3:first-child {
    margin-top: 50px;
}

#myplan {
    display: flex;
}
.upgrade {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upgrade > h1 {
    margin-bottom: 50px;
}
#update-switch {
    width: 30%;
    height: 50px;
}