#navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    z-index:1;
    /* border: 2px solid red; */

}
#nav-left {
    width: 50%;
    margin: auto;
    /* border: 2px solid black; */
}
#nav-left > a > img {
    width: 200px;
    margin-left: 80px;
}
#nav-right {
    /* border: 2px solid blue; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-right > a {
    color: black;
    text-decoration: none;
}

/* Login div */
#login {
    width: 35%;
    display: flex;
    justify-content: space-between;
}
#login > a > button {
    width: 110px;
    height: 35px;
    border: none;
    border-radius: 5px;
}
#login > a:first-child >  button {
    color: white;
    background-color:#CADFDF;
}
#login > a:nth-child(2) > button {
    color: white;
    background-color:#F9B347;
}

#login > a:first-child >  button:hover,
#login > a:nth-child(2) > button:hover {
    /* color: black; */
    background-color:black;
    cursor: pointer;
}

/* logout div */
#logout {
    width: 35%;
    justify-content: space-between;
    display: none;
}

#logout > a > button {
    width: 110px;
    height: 35px;
    border: none;
    border-radius: 5px;
}
#logout > a:first-child >  button {
    color: white;
    background-color:#CADFDF;
}
#logout > a:nth-child(2) > button {
    color: white;
    background-color:#F9B347;
}

#logout > a:first-child >  button:hover,
#logout > a:nth-child(2) > button:hover {
    /* color: black; */
    background-color:black;
    cursor: pointer;
}